<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Завдання 1</title>
		<link rel="stylesheet" href="../../styles.css" />
	</head>
	<body>
		<div class="task-container">
			<div class="task-header">
				<div class="task-number">Завдання 1</div>
				<h1></h1>
			</div>

			<div class="content">
				<div class="task-description-box">
					Задача 6. Описати тип квиток (куди, ціна, піб пасажира, дата). Створити функції для перевірки цього типу (Type Guard, Assert)
				</div>

				<div class="result-area" id="result"></div>

				<div class="navigation">
					<a href="../../index.html" class="nav-link secondary">← Назад до списку</a>
					<a href="task2.html" class="nav-link">Наступне завдання →</a>
				</div>
			</div>
		</div>

		<script src="../../javascript/scripts/task1.js" defer></script>
	</body>
</html>
