<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Завдання 2</title>
		<link rel="stylesheet" href="../../styles.css" />
	</head>
	<body>
		<div class="task-container">
			<div class="task-header">
				<div class="task-number">Завдання 2</div>
				<h1></h1>
			</div>

			<div class="content">
				<div class="task-description-box">
                6. Моделювання Персонажів у RPG (Role-Playing Game) 🧙‍♂️
                Клас: Character (Персонаж). Має поля: name, health, mana, charClass. Містить методи attack() та takeDamage().
               s Enum: CharacterClass (КласПерсонажа). Визначає професії/класи: WARRIOR (Воїн), MAGE (Маг), ARCHER (Лучник), ROGUE (Розбійник).
				</div>

				<div class="result-area" id="result"></div>

				<div class="navigation">
					<a href="../../index.html" class="nav-link secondary">← Назад до списку</a>
					<a href="task3.html" class="nav-link">Наступне завдання →</a>
				</div>
			</div>
		</div>

		<script src="../../javascript/scripts/task2.js"></script>
	</body>
</html>
