<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div>Задача 5. Випадковим чином 10 разів генерується число або рядок «Ок». Пірахувати чого було більше чисел чи рядків і вивести останнє значення</div>
		<div>
			<a href="../../index.html"> ← назад до списку задач </a>
		</div>
		<script src="../../javascript/scripts/task5.js"></script>
	</body>
</html>
